<form id="editForm">
  <label>Room name</label><input type="text" name="roomName" id="{{id}}" value="{{room.roomName}}"></br>
  <label>Link</label><input type="text" name="link" value="{{room.link}}"></br>
  <button type="submit">Update</button>
</form>
