<html lang="en">

<head>
  <script type='text/javascript' defer src='https://cdn.scaledrone.com/scaledrone.min.js'></script>
  <script defer src="/application.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BiBiLingual</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  {{{body}}}
</body>

</html>
