<div class="copy">Send your URL to a friend to start a video call</div>
<div class="video">
  <video id="localVideo" autoplay muted></video>
  <video id="remoteVideo" autoplay></video>
</div>
<button><a id="closeChat" href="/">Close chat</a></button>
<script defer src="videoChat.js"></script>

<script defer src="test.js"></script>
