body {
  background: #f9f7f7 !important;
}

video {
  max-width: calc(50% - 100px);
  margin: 0 50px;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px,
    rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px,
    rgba(156, 172, 172, 0.2) 0px 16px 16px,
    rgba(156, 172, 172, 0.2) 0px 32px 32px,
    rgba(156, 172, 172, 0.2) 0px 64px 64px;
}
.copy {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.video {
  height: 100vh;
  display: flex;
  height: 100vh;
  margin: 0;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

/* доделать */
#closeChat {
  display: flex;
  justify-content: center;
  color: red;
}

html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #3f51b5 !important;
  }
}

.md-form label {
  color: #ffffff;
}

h6 {
  line-height: 1.7;
}

#email {
  margin: 5px;
}

#password {
  margin: 5px;
}

h1 {
  font-family: "Poppins", sans-serif;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 40px !important;
}
